@font-face{
  font-family: 'Cupertino';
  src: url('/fonts/Cupertino.ttf');
}


body {
    font-family: "Cupertino", sans-serif;
    transition: background-color .5s;
    overflow-x: hidden;
  }

ul{
  list-style-type:none;
}
h1{
  font-family: "Cupertino";
}

li{
  font-family: "Cupertino";
  font-size: 30px;
  align-self: center;
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  background-color: #ffffff;
  margin: 5px;
  padding: 3px;
  transition: background-color .3s;
  border-radius: 15px;
}

.titlebar{
  height: 90px;
  color: #fff;
  align-items: center;
  margin-bottom: 4px;
  transition: height .5s;
  margin-left: 50px;
}

.title{
  font-weight: 800;
  font-family: "Cupertino";
  font-size:50px;
  padding:2px;
  
  color: #ffffff;
  transition: font-size .5s;
}

.sub{
  font-family: "Cupertino";
  font-size: 30px;
  font-weight: 900;
  height: 200px;
  width: 100%;
  border-color: #701616;
  border-radius: 15px;
  border : 2px;
  transition:background-color .3s;
}

button:hover{
  background-color:rgba(17, 14, 14, 0.808);
  color:white;

}

li:hover{
  background-color:rgba(17, 14, 14, 0.808);
  color:white;

}

#maincontent{
  height: 100%;
  transition:z-index .10s;
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
  }

  #arrow{
      height: 50%;
      z-index: 1;
      position: relative;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  